<div class="card" style="width: 100rem;" >
  <div class="card-body">
    <% @answers.each do |answer| %>
      <li id="answer-<%= answer.id %>">
        <h4>回答</h4>
        <%= link_to gravatar_for(answer.user, size: 50), answer.user %>
        <span class="user"><%= link_to answer.user.name, answer.user %></span>
          <br>
          <span class="card-text">本文：<%= answer.content %></span>
          <% if answer.image.attached?  %>
            <%= image_tag display_image(answer.image) %>
          <% end %>
          <br>
          <span class="timestamp">
           <%= time_ago_in_words(answer.created_at) %>前
          </span>
          <% if current_user == answer.user %>
            <%= link_to "削除", answer, method: :delete,
                                             data: { confirm: "削除しますか？" } %>
          <% end %>
      </li>
    <% end %>
  </div>
</div>