<div class="particular-case">
  <li id="question-<%= question.id %>">
    <%= link_to question_path(question), class: 'question-box' do %>
      <br>
      <h4 class="card-title"><%= question.title %></h4>
      <br>
      <span class="card-text">本文：<%= question.content %></span>
      <br>
      <span class="timestamp">
       <%= time_ago_in_words(question.created_at) %>前
       <%= link_to question.user.name, question.user %>
      </span>
    <% end %>
  </li>
</div>

