<% provide(:title, 'Q&A投稿') %>
<h1>Q&A投稿</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @question, local: true) do |f| %>
      <%= render 'error_messages', object: f.object %>
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :content, "本文" %>
      <%= f.text_area :content, class: 'form-control' %>

      <%= f.submit "投稿する", class: "btn-square-slant" %>
    <% end %>
  </div>
</div>