    <br>
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <p class="image_explanation">ユーザー画像</p>
      <span class="image">
        <%= f.file_field :avatar, accept: "image/jpeg,image/gif,image/png" %>
      </span>

      <%= f.label :name, "お名前" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <p class="explanation">英大文字＋英小文字＋数字＋記号混じりで10桁以上</p>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :introduction, "自己紹介" %>
      <p class="explanation">200字以内</p>
      <%= f.text_area :introduction, class: 'form-control' %>

      <%= f.submit btn_name, class: "btn-square-slant" %>
    <% end %>

    <script type="text/javascript">
    $("#user_image").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("5MB以上のファイルは添付できません。");
      $("#user_image").val("");
    }
    });
    </script>