<% provide(:title, "#{@user.name} | ") %>
<div class="user-show">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render partial: 'shared/user_info' %>
    </section>
    <div class="question-category">
      <%= render partial: 'questions/category' %>
    </div>
  </aside>
  <div class="area">
    <input type="radio" name="tab_name" id="tab1" checked>
    <label class="tab_class" for="tab1">質問(<%= @user_questions.count %>件)</label>
    <div class="content_class">
      <%= will_paginate @user_questions %>
        <ul class="questions">
          <section class="question_index">
            <div class="card" style="width: 100%;" >
              <div class="card-body">
              <%= render partial: 'questions/question', collection: @user_questions %>
              </div>
            </div>
          </section>
        </ul>
      <%= will_paginate @user_questions %>
    </div>
    <input type="radio" name="tab_name" id="tab2" >
    <label class="tab_class" for="tab2">回答(<%= @user.answers.count %>件)</label>
      <div class="content_class">
        <%= will_paginate @user_answers %>
          <ul class="questions">
            <section class="question_index">
              <div class="card" style="width: 100%;" >
                <div class="card-body">
                <%= render partial: 'questions/question', collection: @user_answers %>
                </div>
              </div>
            </section>
          </ul>
        <%= will_paginate @user_answers %>
    </div>
  </div>
</div>
<!--フッター調整用-->
</div>