<div class="card-user">
  <%  if @user.avatar.attached? %>
    <%= image_tag display_avatar(@user.avatar), class: 'user-image' %>
  <% else %>
    <%= gravatar_for @user %>
  <% end %>
  <h1>
    <%= @user.name %>
  </h1>
  <%= @user.introduction %>
  <br>
  <% if @user == current_user && !guest_user? %>
    <%= link_to "プロフィールを変更する", edit_user_path(@user) %>
  <% end %>
</div>